# ---------------------------------------------------------------------
#  Variables de entorno del proyecto Expreso Andino
#  1) Copia este archivo como  .env
#  2) Cambia los valores por los tuyos
#  3) NUNCA subas el .env real a GitHub (ya está en .gitignore)
# ---------------------------------------------------------------------

# Contraseña del usuario root de MySQL
DB_ROOT_PASSWORD=cambia_esta_clave_root

# Nombre de la base de datos que se crea al iniciar
DB_NAME=expreso_andino

# Usuario y contraseña de la aplicación
DB_USER=usuario_adso
DB_PASSWORD=cambia_esta_clave
